<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcah.abyte">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CollaresPlataActivity"></activity>
        <activity android:name=".DetalleMovActivity" />
        <activity android:name=".DetalleEurofitActivity" />
        <activity android:name=".detalleConfortActivity" />
        <activity android:name=".ArgollaMovActivity" />
        <activity android:name=".ArgollaEurofitActivity" />
        <activity android:name=".ArgollaConfortActivity" />
        <activity android:name=".DetalleArgCatorceClasicaActivity" />
        <activity android:name=".argollaClasica14Activity" />
        <activity
            android:name=".Argolla14Activity"
            android:launchMode="singleInstance" />
        <activity android:name=".DetalleArgolla10kActivity" />
        <activity android:name=".ArgollasDiezActivity" />
        <activity android:name=".OfertasActivity" />
        <activity android:name=".MoshaActivity" />
        <activity android:name=".VillaActivity" />
        <activity
            android:name=".EnamoroActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MenuActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>